@charset "UTF-8";



#head1 {
	margin: 0 auto;
	padding-top: 11px;
	text-align:center;
	margin-bottom: 25px;
	width: 230px;
	padding-left: 680px;
	padding-right: 10px;
	padding-bottom: 9px;
}


#head2{
	padding-top: 10px;
	text-align: center;
	margin-bottom: 8px;
	height: 88px;
}

#head2_1{
	float: left;	
	margin-left: 600px;
	margin-top: 7px;
}

#head2_2{
	float: left;
	margin-top: 9px;
	margin-left: 29px;
}

#head3{
	background-image: url("../../images/header/hbor.jpg");
	width: 100%;
	height: 8px;
}

.hname{
    float: left;
    font-size: 14px;
    position: relative;
    top: 2px;
    right: 17px;
}