@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Open+Sans);
.red-heart-checkbox {
  visibility: hidden;
}
.red-heart-checkbox + label {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-size: 30px;
  /* padding-left: 15px; */
}
.red-heart-checkbox:checked + label:before {
  content: "";
  color: #F00;
  transition: all 0.2s;
  text-shadow: 0 0 3px red;
}
.red-heart-checkbox + label:before {
  width: 31.5px;
  height: 30px;
  content: "";
  position: absolute;
  margin-left: -48px;
  margin-top: 3px;
  font-family: FontAwesome;
  font-size: 30px;
  content: "";
  transition: all 0.3s;
  color: white;
  left: 257px;

}
.red-heart-checkbox + label:hover:before {
  transform: scale(1.2);
}


/* .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
} */

.control-group {
 /*  margin: 3px; */
/*  padding-left: 10px; */
 left: -66px;
 position: relative;
/*  background-color: red; */
 width: 66px;
 color: white;
 text-align: center;
}

.attribution {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
}

body {
  font-family: Open Sans, Helvetica;
}

a, a:visited, a:hover {
  color: #F00;
  text-decoration: none;
}

h1 {
  text-align: center;
}

.ranking{
	position: relative;
	top: -44px;
	left: 12px;
	width: 56px;
/* 	background-color: white; */
	color: white;
	padding-left: 5px;
	height: 38px;
	font-size: 23px;
	padding-top: 3px;
	/* background-color: rgba(48, 144, 154, 0.8); */
	background-color:rgba(231, 26, 15, 0.8);
	border-radius: 3px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
    text-shadow: 0 0 15px gray;
  
}