@charset "UTF-8";

body {
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

.clearfix:after {
  /* visibility: hidden; */
  display: none;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
} 


h1 {
  text-align: center;
  margin: 40px 0 70px 0;
  color:#fff;
}

h2 {
  margin: 0;
  text-align: center;
  font-size: 22px;
  color: #999;
}

.btn {
  font-size: 18px;
  font-weight: bold;
  color: #fff;
  text-decoration: none;
  display: block;
  margin: 0 auto;
  width: 500px;
  height: 40px;
  line-height: 40px;
  background: #E74C3C;
  border-bottom:3px solid #C0392B;
  text-align: center;
  border-radius:3px;
  cursor: pointer;
  clear: both;
}


