@charset "UTF-8";


.box {
  width: 400px;
  height: 600px;
  margin: 50px auto;
  background: #fff;
  border-radius: 3px;
}

[class^="ribbon-"] {
  position: relative;
  margin-bottom: 80px;
}
[class^="ribbon-"]:before, [class^="ribbon-"]:after {
  content: "";
  position: absolute;
}

.ribbon-1 {
  width: 60px;
  height: 60px;
  background: #ee583a;
  top: -6px;
  left: 25px;
  z-index: 10;
  position: relative;
}
.ribbon-1:before {
  height: 0;
  width: 0;
  border-bottom: 6px solid #ca3011;
  border-right: 6px solid transparent;
  right: -6px;
}
.ribbon-1:after {
  height: 0;
  width: 0;
  border-left: 30px solid #ee583a;
  border-right: 30px solid #ee583a;
  border-bottom: 30px solid transparent;
  bottom: -30px;
}

.ribbon-2 {
  width: 100px;
  height: 50px;
/*   background: #21749a; */
  left: -8px;
  z-index: 5;
  position: relative;
  top: 16px;
  padding-left: 59px;
  padding-top: 1px;
  
}
.ribbon-2:before {
  height: 0;
  width: 0;
 /*  border-bottom: 8px solid #14455b; */
  border-left: 8px solid transparent;
  top: -8px;
}
.ribbon-2:after {
  height: 0;
  width: 0;
  border-top: 25px solid transparent;
  border-bottom: 25px solid transparent;
/*   border-left: 15px solid #21749a; */
  right: -15px;
}

.ribbon-3, .ribbon-4 {
  width: 420px;
  height: 50px;
  margin-left: -10px;
  margin-right: -10px;
  background: #efb23b;
}
.ribbon-3:before, .ribbon-4:before {
  height: 0;
  width: 0;
  border-top: 10px solid #cd8d11;
  border-left: 10px solid transparent;
  bottom: -10px;
}
.ribbon-3:after, .ribbon-4:after {
  height: 0;
  width: 0;
  border-top: 10px solid #cd8d11;
  border-right: 10px solid transparent;
  right: 0;
  bottom: -10px;
}

.ribbon-4:before {
  height: 0;
  width: 0;
  border-width: 20px 20px;
  border-style: solid;
  border-color: #31a5b3 #31a5b3 #31a5b3 transparent;
  top: 20px;
  left: -30px;
}
.ribbon-4:after {
  height: 0;
  width: 0;
  border-width: 20px 20px;
  border-style: solid;
  border-color: #31a5b3 transparent #31a5b3 #31a5b3;
  top: 20px;
  right: -30px;
}

.ribbon-content {
  height: inherit;
  margin-bottom: 0;
/*   background: #37b7c7; */
  z-index: 100;
}
.ribbon-content:before {
  height: 0;
  width: 0;
  border-top: 10px solid #26808b;
  border-left: 10px solid transparent;
  bottom: -10px;
}
.ribbon-content:after {
  height: 0;
  width: 0;
  border-top: 10px solid #26808b;
  border-right: 10px solid transparent;
  right: 0;
  bottom: -10px;
}

