<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="cinemaMapper">
	<select id="cinema_loc" parameterType="CinemaVO" resultType="CinemaVO">
	select cinema_name, cinema_add from cinema 
  	where cinema_name = #{cinema_name}
	</select>
	
	<select id="cinemaList_loc" resultType="CinemaVO">
	select distinct cinema_loc, cinema_locnum
	from cinema
	order by cinema_locnum asc
	</select>
	
	<select id="cinemaList_cinema" resultType="CinemaVO">
	select distinct cinema_name, cinema_num, cinema_loc
	from cinema
	order by cinema_num asc
	</select>


  </mapper>