<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="memberMapper">

	<sql id="bs">
		<choose>
			<when test="kind == 'kI'">
				where id like '%'||#{search}||'%'
			</when>
			<when test="kind == 'kN'">
				where name like '%'||#{search}||'%'
			</when>
		</choose>
	</sql>

	<insert id="memberJoin" parameterType="MemberVO">
		insert into member
		values(#{id},#{pw},#{name},#{email},#{address},#{post},#{phone},#{birth},#{gender},5,0,sysdate)
	</insert>
	
	<select id="idCheck" parameterType="MemberVO" resultType="MemberVO">
		select id from member where id = #{id}
	</select>
	<!-- <select id="myPageSelect" parameterType="MemberVO" resultType="MemberVO"> 
		select * from member where id = #{id} </select> -->
	<update id="memberUpdate" parameterType="MemberVO">
		update member set pw = #{pw}, email = #{email},address = #{address}, post = #{post}, phone = #{phone} 
		where id = #{id}
	</update>
 	
 	<select id="memberLogin" parameterType="MemberVO" resultType="MemberVO">
 		select * from member 
 		where id = #{id} and pw = #{pw}
 	</select>
 	
 	<delete id="memberDelete" parameterType="MemberVO">
 		delete member where id = #{id}
 	</delete> 
 	
 	<select id="memberManagement" resultType="MemberVO" parameterType="com.biscuit.b1.util.Pager">
 		select * from member <include refid="bs"/>
 	</select>
 	
 	<select id="memberManagementDelete" parameterType="String">
 		delete member where id = #{id}
 	</select>
 	
 	<update id="memberManagementUpdate" parameterType="MemberVO">
		update member set id = #{id}, pw = #{pw},name = #{name}, email = #{email},address = #{address},
		post = #{post}, phone = #{phone},gender=#{gender},grade=#{grade},grade_point=#{grade_point}
		where id = #{id}
	</update>
	<select id="memberCount" resultType="Integer">
		select count(*) from member <include refid="bs"/>
	</select>
	<select id="emailCheck" resultType="MemberVO" parameterType="String">
		select email from member where email = #{email} 
	</select>
	
	
	<!-- mypage -->
	<select id="mypageHeart" parameterType="MemberVO" resultType="MovieGradeVO">
<!--   	select * from movie_grade
 	where id=#{id} and moviegrade_heart = 1
 	order by movieinfo_num desc -->
 	 select A.moviegrade_heart, A.movieinfo_title, A.movieinfo_num, B.movieinfo_poster
 	from movie_grade A full join movieinfo B
 	on A.movieinfo_num = B.movieinfo_num
 	where A.id=#{id} and A.moviegrade_heart = 1
 	order by A.movieinfo_num desc
  	</select>
  	
  	<select id="mypageStar" parameterType="MemberVO" resultType="MovieGradeVO">
<!--   	 select * from  movie_grade
 	 where id=#{id} and moviegrade_star != 0
	 order by moviegrade_star desc -->
	select A.moviegrade_star, A.movieinfo_title, A.movieinfo_num, B.movieinfo_poster
 	from  movie_grade A full join movieinfo B
	on A.movieinfo_num = B.movieinfo_num
 	where A.id=#{id} and A.moviegrade_star != 0
	order by A.moviegrade_star desc
  	</select>
	
	<select id="newest" parameterType="MemberVO" resultType="Movie_TicketingVO">
		select * from movie_ticketing where book_date = (select max(book_date) from movie_ticketing where id = #{id} )and rowNum = 1
	</select>
	
</mapper>