@charset "UTF-8";
#container {
	border-top: 1px solid #e9e4d2;
	position: relative;
    min-width: 980px;
    min-height: 669px;
}
#content {
	position: relative;
    min-height: 400px;
}
.detailtop_wrap {
	width: 100%;
	height: 1000px;
    background: #f9f6ec;
}
.detail_inner {
	width: 980px;
    margin: 0 auto;
    padding: 30px 0;
}
.product_box {
	background: #fff;
    border-top: 2px solid #23333b;
    border-bottom: 2px solid #23333b;;
    position: relative;
    background-color: lightgreen;
}
.product_left {
	float: left;
    width: 518px;
    padding-bottom: 50px;
    border-right: 2px solid #f9f6ec;
    font-size: 14px;
    color: #231f20;
}
.product_img {
	position: absolute;
    margin: 40px 20px 0 20px;
    width: 476px;
    height: 397px;
}
.product_right {
	float: right;
    width: 460px;
    padding: 40px 30px;
    font-size: 14px;
    color: #231f20;
    background: #fff;
}
.detail_title {
	margin-bottom: 33px;
    font-size: 28px;
    color: #231f20;
    line-height: 40px;
}

.product_right .info {
	display: inline;
    vertical-align: middle;
    color: #231f20;
    font-size: 15px;
    font-weight: bold;
    line-height: 15px;
    /* word-break: break-all; */
}
.price {
	padding: 0 5px;
	font-size: 36px;
}
.won {
	padding-left: 3px;
    font-size: 13px;
    vertical-align: 1px;
}

.table_info {
	width: 100%;
    margin: 35px 0 30px 0;
    border-top: 1px solid #dedede;
    border-bottom: 1px solid #dedede;
    font-size: 14px;
    text-align: center;
}
.table_info tbody th, .table_info tbody td {
	border-bottom: 1px solid #dedede;
    line-height: 22px;
    vertical-align: top;
}
.table_info tbody th.last, .table_info tbody td.last {
	border-bottom: none;
}	
.table_info tbody th {
    width: 80px;
    padding: 10px 0;
    font-weight: normal;
    color: #231f20;
}
.table_info tbody td {
	padding: 10px 0;
    text-align: left;
}
.table_store_note li {
	position: relative;
    padding-left: 20px;
    color: #666;
}
.table_store_note li:first-child::before {
	content: '';
    position: absolute;
    top: 2px;
    left: 0;
    width: 1px;
    height: 18px;
    background: #dedede;
}




















