@charset "UTF-8";

body{
	background-color: #fdfcf0;
}

header{
	margin-bottom: 50px;
}

.mypagewrap{
	width: 1600px;
/* 	background-color: olive; */
	margin: 0 auto;
	height: 500px;
}

.mymenu{
	width: 20%;
	height: 500px;
/* 	background-color: yellow; */
	float: left;
}

.mycontext{
	width: 80%;
	height: 500px;
/* 	background-color: purple; */
	float: left;
}

#test{
	margin:0 auto;
	width:95%;
}

.menutitle{
	width: 100%;
	margin: 0 auto;
	text-align: center;
	padding-top: 35px;
	overflow: hidden;
}

.menumain{
	width: 50%;
	padding-top: 50px;
	margin: 0 auto;
}

.mmain{
	padding: 5px 0;
}

#bricks{
	height: 315px;
	margin-bottom: 30px;
}

#binfoimg{
	width: 503px;
	height: 230px;
	margin-top: 27px;
	margin-left: 44px;
	background-size: contain;
}

#binfolevel{
	height: 68px;
	padding-top: 41px;
	padding-left: 40px;
}

#binfocgv{
	padding-top: 41px;
	padding-left: 40px;
}

#pacoimg{
	width: 559px;
	margin-top: 99px;
	margin-left: 61px;
}

/* #tboxmain{
	width: 1052px;
	background-color: #f4f3ea;
	height: 865px;	
} */

#tboxmain{
	width: 1052px;
	height: 830px;	
}

.tbox{
	float: left;
	width: 29%;
	height: 250px;
	margin: 26px 26px;
	/*border: 0.3px solid black;*/
	background: linear-gradient(90deg, #ffffff 52%, #e42313 48%);
    box-shadow: 5px 6px 8px #c4c4c4;
    padding: 0 0 010px;
}

.tbox_text{
	background: black;
    color: white;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}


.starbox{
	float: left;
	width: 212px;
	height: 362px;
	margin: 26px 15px;
	border: 0.3px solid black;
	padding:10px;
	background:black;
	text-align:center;
	color:white;
	letter-spacing:-2px;
	
	
}
.e{
	height: 10px;
	width: 10px;
	background: url("../../images/mypage/ff.png")
}
.heartbox{
	float: left;
	width: 212px;
	height: 362px;
	margin: 26px 15px;
	border: 0.3px solid black;
}

.starbox img{
	width: 213px;
	height: 305px;
}

.heartbox img{
	width: 213px;
	height: 305px;
}
.newestBookWrap{
}
.newestBookPoster img{
	float: left;
    width: 125px;
    margin-top: 20px;
    margin-left: 18px;
}
.newestBookInfo{
	display: -webkit-inline-box;
    margin-left: 22px;
    margin-top: 50px;
    color: white;
    text-align: center;
}
