html, body {
	min-height: 100%;
	margin: 0;
}

body {
	padding: 30px;
	background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
	box-sizing: border-box;
}

.select-box {
	position: relative;
	display: block;
	width: 100%;
	margin: 0 auto;
	font-family: 'Open Sans', 'Helvetica Neue', 'Segoe UI', 'Calibri',
		'Arial', sans-serif;
	font-size: 18px;
	color: #60666d;
