<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
  
  <configuration>
  	<typeAliases> 
  		<typeAlias type="java.lang.Integer" alias="Integer"/>
		<typeAlias type="java.lang.String" alias="String"/>
  		<typeAlias type="com.biscuit.b1.model.MovieInfoVO" alias="MovieInfoVO"/>
  		<typeAlias type="com.biscuit.b1.model.TimeInfoVO" alias="TimeInfoVO"/>
  		<typeAlias type="com.biscuit.b1.model.CinemaVO" alias="CinemaVO"/>
  		<typeAlias type="com.biscuit.b1.model.TheaterVO" alias="TheaterVO"/>
  		<typeAlias type="com.biscuit.b1.model.Movie_TicketingVO" alias="Movie_TicketingVO"/>
  		<typeAlias type="com.biscuit.b1.model.ChoiceVO" alias="ChoiceVO"/>
  		<typeAlias type="com.biscuit.b1.model.StoreVO" alias="StoreVO"/>
  		<typeAlias type="com.biscuit.b1.model.SeatVO" alias="SeatVO"/>
  		<typeAlias type="com.biscuit.b1.model.MemberVO" alias="MemberVO"/>
  		<typeAlias type="com.biscuit.b1.model.CartVO" alias="CartVO"/>
  		<typeAlias type="com.biscuit.b1.model.CartListVO" alias="CartListVO"/>
  		<typeAlias type="com.biscuit.b1.model.MyOrderVO" alias="MyOrderVO"/>
  		<typeAlias type="com.biscuit.b1.model.OrderDetailVO" alias="OrderDetailVO"/>
  		<typeAlias type="com.biscuit.b1.model.MovieDataVO" alias="MovieDataVO"/>
  		<typeAlias type="com.biscuit.b1.model.MovieGradeVO" alias="MovieGradeVO"/>
  		<typeAlias type="com.biscuit.b1.model.AdminVO" alias="AdminVO"/>
  		<typeAlias type="com.biscuit.b1.model.NewestVO" alias="NewestVO"/>
  	</typeAliases>
  </configuration>